<a href="https://colab.research.google.com/github/faheemdehalvi/dsa/blob/main/first.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
print("boring asf")

boring asf

In [5]:
a+b

3

In [6]:
substraction = a-b

In [66]:
a=7
b=2
c=3
sum=a+b
diff=a-b
diff1=a-b-c
product=a*b

remainder=a%b
quotient=(a-remainder)/b
square=a*a
import math
squareroot=math.sqrt(a)
sum1=a+b+c

print ("square root of a",squareroot)
print ("sum of three numbers",sum1)
print ("remainder",remainder)
print ("quotient",quotient)
print ("product",product)
print ("sum",sum)
print ("diff",diff)
print ("diff1",diff1)

square root of a 2.6457513110645907
sum of three numbers 12
remainder 1
quotient 3.0
product 14
sum 9
diff 5
diff1 2

In [17]:
print(type(sum))

<class 'int'>

In [18]:
num1=34
num2=34.23
num3=4j
print(type(num1))
print(type(num2))
print(type(num3))

<class 'int'>
<class 'float'>
<class 'complex'>

In [41]:
import math
lis=['faheem','age','18','height','5.7inch']
lis2=['joke','offended']
lis6=[1,2,3,]
print("lis6",lis6)
lis3=lis+lis2
print(lis)
print(lis)
print(len(lis))
print(lis3)
lis3.clear()
print(lis3)
print(lis[0])
lis.sort()
print (lis)

lis6 [1, 2, 3]
['faheem', 'age', '18', 'height', '5.7inch']
['faheem', 'age', '18', 'height', '5.7inch']
5
['faheem', 'age', '18', 'height', '5.7inch', 'joke', 'offended']
[]
faheem
['18', '5.7inch', 'age', 'faheem', 'height']

In [51]:
tuple1=("hi","i","am","Faheem")
print(tuple1)
print(type(tuple1))
tuple7=(1,2,3,4,)
print(tuple1)

('hi', 'i', 'am', 'Faheem')
<class 'tuple'>
('hi', 'i', 'am', 'Faheem')

In [58]:
tuple1=("hi","i","am","Faheem")
print(tuple1[-1])
tuple2=tuple1*2
print (tuple2)
y=tuple2.index(-1)
y

Faheem
('hi', 'i', 'am', 'Faheem', 'hi', 'i', 'am', 'Faheem')

ValueError: ignored

In [8]:
substraction1=a-b-c