<a href="https://colab.research.google.com/github/faheemdehalvi/dsa/blob/main/first.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("boring asf")

boring asf

In [ ]:
a+b

3

In [ ]:
substraction = a-b

In [ ]:
a=7
b=2
c=3
sum=a+b
diff=a-b
diff1=a-b-c
product=a*b

remainder=a%b
quotient=a//b
square=a*a
import math
squareroot=math.sqrt(a)
sum1=a+b+c

print ("square root of a",squareroot)
print ("sum of three numbers",sum1)
print ("remainder",remainder)
print ("quotient",quotient)
print ("product",product)
print ("sum",sum)
print ("diff",diff)
print ("diff1",diff1)

square root of a 2.6457513110645907
sum of three numbers 12
remainder 1
quotient 3
product 14
sum 9
diff 5
diff1 2

In [ ]:
print(type(sum))

<class 'int'>

In [ ]:
num1=34
num2=34.23
num3=4j
print(type(num1))
print(type(num2))
print(type(num3))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
import math
lis=['faheem','age','18','height','5.7inch']
lis2=['joke','offended']
lis6=[1,2,3,]
print("lis6",lis6)
lis3=lis+lis2
print(lis)
print(lis)
print(len(lis))
print(lis3)
lis3.clear()
print(lis3)
print(lis[0])
lis.sort()
print (lis)

lis6 [1, 2, 3]
['faheem', 'age', '18', 'height', '5.7inch']
['faheem', 'age', '18', 'height', '5.7inch']
5
['faheem', 'age', '18', 'height', '5.7inch', 'joke', 'offended']
[]
faheem
['18', '5.7inch', 'age', 'faheem', 'height']

In [ ]:
tuple1=("hi","i","am","Faheem")
print(tuple1)
print(type(tuple1))
tuple7=(1,2,3,4,)
print(tuple1)

('hi', 'i', 'am', 'Faheem')
<class 'tuple'>
('hi', 'i', 'am', 'Faheem')

In [ ]:
tuple1=("hi","i","am","Faheem")
print(tuple1[-1])
tuple2=tuple1*2
print (tuple2)
y=tuple2.index('Faheem')
y

Faheem
('hi', 'i', 'am', 'Faheem', 'hi', 'i', 'am', 'Faheem')

3

In [ ]:
substraction1=a-b-c

In [ ]:
x=(1,2,3)
print(x)
y=list(x)
y[2]="kokalta"
x=tuple(y)
print(x)

(1, 2, 3)
(1, 2, 'kokalta')

In [ ]:
set1={"blue","black","red"}
print(set1)
set1.add("mattback")
set2={"crimson","pink"}
set1.update(set2)
print(set1)

{'black', 'blue', 'red'}
{'black', 'blue', 'pink', 'crimson', 'red', 'mattback'}

In [ ]:
print("Enter the dividend and divisor")
a=int(input("a="))
b=int(input("b="))
if a>b:
  q=a/b
  print("q=",q)
elif a == b:
  print("q=1")
else:
  print("the divisor cannot be greater divident")

Enter the dividend and divisor
a=4
b=2
q= 2.0

In [1]:

num = int(input("Enter a number: "))

if num % 2 == 0:
    print(num, "is even.")
else:
    print(num, "is odd.")

Enter a number: 2
2 is even.

In [2]:
age = int(input("Enter your age: "))
if age < 18:
    print("You are a minor.")
else:
    print("You are an adult.")

Enter your age: 23
You are an adult.

In [4]:
score = int(input("Enter your exam score: "))
if score >= 35:
    print("Congratulations, you passed!")
else:
    print("Sorry, you failed. Try again.")

Enter your exam score: 36
Congratulations, you passed!

In [6]:
weight = float(input("Enter your weight (kg): "))
height = float(input("Enter your height (m): "))
bmi = weight / (height * height)
if bmi < 18.5:
    print("Underweight")
elif bmi < 25:
    print("Normal weight")
elif bmi < 30:
    print("Overweight")
else:
    print("Obese")

Enter your weight (kg): 60
Enter your height (m): 1.70
Normal weight